/*navbar*/

.container {
    max-width: 1400px;
    width: 100vw;
    height: 70px;
    margin: 0 auto;
    position: sticky !important;
}
.header_top {
    display: flex;
    align-items: center;
    height: 70px;
    position: sticky !important;

    z-index: 1000;
    top: 0;
    background-color: var(--background);
    margin: 10px 0 0;
    justify-content: space-between;
}
.header_bottom {
    flex-direction: row;
}
.header_right {
    display: flex;
    padding: 0px 10px;
}
#logo {
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-self: start;
    margin-bottom: 5px;
}
.menu_list {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.menu_item {
    margin: 0 5px;
    padding: 10px;
    color: #999;
    font-size: 16px;
    cursor: pointer;
}
.selected {
    background-color: var(--primary-color);
    color: #fff;
    margin: 3px 0 0;
    border-radius: 12px;
    border: none;
}

.selectedcart{
    padding-bottom: 5px;
   border-bottom: 2px solid #fff;
}
.selected:hover {
    border-bottom: none;
}
.menu_item:hover {
    border-bottom: 3px solid #0077ff;
}
.header_left {
    display: flex;
}
.mod {
    color: var(--primary-color);
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    margin: 15px;
}
.loginlink {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    border: 1px solid #0e9fe1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    padding: 5px;
    margin: 5px ;
}

.loginlink2 {
    text-decoration: none;
    font-size: 10px;
    color: #fff;
    border: 1px solid #0e9fe1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    padding: 5px;
    margin: 5px ;
}
.header_left .header_login {
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    margin: 0;
}

.loginhover:hover {
    scale: 1.05;
}

.header_left p {
    color: var(--primary-color);
    cursor: pointer;
    margin: 0;
}
.navlink {
    text-decoration: none;
}

.header_left {
    position: relative;
}

.avatar {
    display: inline-block;
    cursor: pointer;
}

.avatar-img {
    width: 50px;
    height:50px;
    border-radius: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
}



.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 10px;
    background-color: #0f172a;
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
    min-width: 160px;
    text-align: right;
}

.dropdown-menu .dropdown-item {
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;

}

.dropdown-menu .dropdown-item:hover {
    background-color: #1e293b;
}

.btn-link {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    text-align: right;
    cursor: pointer;
    color: white;
    display: block;
    width: 100%;
    text-align: right;
}

.logout{
    text-decoration: none;
}

.dropdown-item:hover{
    color: #0077ff;
}


.menu_item {
    position: relative;
    display: inline-block;
}

.menu_item .navlink {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.menu_item .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0f172a;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 200px;
    border-radius: 8px;
}

.menu_item .dropdown-menu li {
    list-style: none;
}

.menu_item .dropdown-menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.menu_item .dropdown-menu li a:hover {
    background-color: #f1f1f1;
    color: #0077ff;
}

.menu_item:hover .dropdown-menu {
    display: block;
}

.drop{
    color: #999;
}

.parent{
    display: flex;
    flex-direction: row;
}
.selectedd{
   border-bottom: 2px solid #0077ff;
}
a.menu-title:hover{

    background-color: #0f172a !important;
    color: #fff !important;
}


li > a.menu-title{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.menu_item .mega-menu {
    background-color: #091e2ad8;
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    min-width: 300px;
    text-align: right;
    box-shadow: 0 0 20px 0.4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    left: -90%;
    padding: 20px;
    position: absolute;
    top: 100%;
    transform: rotateX(90deg);
    transform-origin: center top 0;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: auto;
    z-index: 99999;
    height: auto;
    /* border: 1px dashed #0e9fe1; */
  }

  .menu_item:hover .mega-menu {
    transform: rotateX(0deg);
    visibility: visible;
  }

  .mega-menu > li {
    padding-right: 20px;
  }

  .mega-menu > li > a.menu-title {
    color: #0e9fe1;
    font-size: 16px;
    font-family: "Vazir" !important;
    display: block;
    /* margin-bottom: 20px; */
    text-decoration: none;
    border-bottom: 1px solid #fff;
    padding: 10px 15px;
    margin: 5px 20px 20px;
  }

  .mega-menu > li > ul.submenu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .mega-menu > li > ul.submenu > li {
    margin-bottom: 5px;
  }

  .mega-menu > li > ul.submenu > li > a {
    font-size: 14px;
    font-family: "Vazir" !important;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
  }

  .mega-menu > li > ul.submenu > li > a:hover {
    color: #0077ff;
  }
  .cartlink {
    position: relative;
    display: inline-block;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: #0077ff;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 8px;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
}
