.shop_section_title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 40px 0 20px;
}

.store-row {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.store_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.store_card_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 250px;
}
.store_card_item:hover{
    scale: 1.05;
}
.store_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.store_card_name {
    font-size: 16px;
    margin-bottom: 10px;
}

.visit_button {
    display: inline-block;
}

.visit {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
}

.visit:hover {
    background-color: #0056b3;
}
